// src/styles/_variables.scss

$white: #FFFFFF;
$black: #000000;
$green: #2E7D32;
$grey: #666666;
$green-active:  #517907;
$cream: #FDF8D0;
$black-text: #333333;
$cart-green: #4CAF50;
$black-border: #00000073;
$email-green: #DEF1BD;
$input-grey: #8E8E8E;
$white-hover: #f5f5f5;
$link-grey: #636362;
$gradient-white: #FCFCF7;
$gradient-green: #F5EEAD;
$placeholder-grey: #8E8E8E;
$red: #FF4444;
$border-grey: #F0F0F0;
